<!DOCTYPE html>
<head>
  <!---<link rel="stylesheet" href="styles.css"> 
    https://github.com/pallets/flask/blob/1.1.4/examples/tutorial/flaskr/templates/base.html
  --->
</head>
<body style="background-color: #e9e3dc; font-family: Times New Roman, Times, serif;">
    <div>
      <h2>Package Name {{ package_name }}</h2>
      <p>Version {{ apk_version }}</p>
      <h3 style="color:black; text-align: center; font: bold;">Uses Permission</h3> 
      {% for perm in uses_permission %}
      <p style="color:black;">{{ perm }}</p>
      {% endfor %}
      <h3 style="color:black; text-align: center; font: bold;">Use of insecure network protocols:</h3>  
      {% for each in name %}
      <p style="color:black;">{{ each }}</p>
      {% endfor %}
    </div>
    <h3 style="color:black; text-align: center; font: bold;">Vulnerabilities in code</h3>
    
    {% if getString is defined and getString|length > 0 %}
    <h4 style="color:black; text-align: center; font: bold;">getString Detections in code</h4>
    {% endif %}
    {% for element in getString %}
      {% for key, value in element.items() %}
        <p style="color:black;">{{ key }}</p>
        {% set list1 = value.split('\n') %}
          {% for item in list1 %}
            <pre>{{ item }}</pre>
          {% endfor %} 
      {% endfor %}
    {% endfor %}

    {% if getStringExtra is defined and getStringExtra|length > 0 %}
    <h4 style="color:black; text-align: center; font: bold;">getStringExtra Detections in code</h4>
    {% endif %}
    {% for element in getStringExtra %}
      {% for key, value in element.items() %}
        <p style="color:black;">{{ key }}</p>
        {% set list1 = value.split('\n') %}
          {% for item in list1 %}
            <pre>{{ item }}</pre>
          {% endfor %} 
      {% endfor %}
    {% endfor %}
    
    {% if getExtras is defined and getExtras|length > 0 %}
    <h4 style="color:black; text-align: center; font: bold;">getExtras Detections in code</h4>
    {% endif %}
    {% for element in getExtras %}
      {% for key, value in element.items() %}
        <p style="color:black;">{{ key }}</p>
        {% set list1 = value.split('\n') %}
          {% for item in list1 %}
            <pre>{{ item }}</pre>
          {% endfor %} 
      {% endfor %}
    {% endfor %}

    {% if xss_dectections is defined and xss_dectections|length > 0 %}
    <h4 style="color:black; text-align: center; font: bold;">xss_dectections Detections in code</h4>
    {% endif %}
    {% for element in xss_dectections %}
      {% for key, value in element.items() %}
        <p style="color:black;">{{ key }}</p>
        {% set list1 = value.split('\n') %}
          {% for item in list1 %}
            <pre>{{ item }}</pre>
          {% endfor %} 
      {% endfor %}
    {% endfor %}

    {% if getData is defined and getData|length > 0 %}
    <h4 style="color:black; text-align: center; font: bold;">getData Detections in code</h4>
    {% endif %}
    {% for element in getData %}
      {% for key, value in element.items() %}
        <p style="color:black;">{{ key }}</p>
        {% set list1 = value.split('\n') %}
          {% for item in list1 %}
            <pre>{{ item }}</pre>
          {% endfor %} 
      {% endfor %}
    {% endfor %}

    {% if getUrl is defined and getUrl|length > 0 %}
    <h4 style="color:black; text-align: center; font: bold;">getUrl Detections in code</h4>
    {% endif %}
    {% for element in getUrl %}
      {% for key, value in element.items() %}
        <p style="color:black;">{{ key }}</p>
        {% set list1 = value.split('\n') %}
          {% for item in list1 %}
            <pre>{{ item }}</pre>
          {% endfor %} 
      {% endfor %}
    {% endfor %}

    {% if data_on_sd_card is defined and data_on_sd_card|length > 0 %}
    <h4 style="color:black; text-align: center; font: bold;">Storing data on SD card</h4>
    {% endif %}
    {% for element in data_on_sd_card %}
      {% for key, value in element.items() %}
        <p style="color:black;">{{ key }}</p>
        {% set list1 = value.split('\n') %}
          {% for item in list1 %}
            <pre>{{ item }}</pre>
          {% endfor %} 
      {% endfor %}
    {% endfor %}

</body>
</html>