body {
    background-color: #F2D2BD;
    font-family: "Times New Roman", Times, serif;
    
  }
  h3 {
    color: black;
    text-align: center;
    font: bold;
  }
  p {
    color: black;
  }
